/*

Primary Color:
#DE675F : Buttons, Links and Headlines
#EC6D65 : Button and Link Hover
#FB918A : Light version used for borders around primary color
rgba(222, 103, 95, 0.9) : Faded version of primary

Purple Theme
#6e1d9c : Buttons, Links and Headlines
#8924C2 : Hover
#d586fe : Light Version
rgba(110, 29, 156, 0.9) : Faded

heartPng: '../img/icon-hearts.png';
heartJpg: '../img/icon-hearts.jpg';
heart2x: '../img/icon-hearts@2x.png';
ribbon: '../img/ribbon.png';
 */

/* COLORS */
@primary: #6e1d9c;
@primaryHover: #8924C2;
@primaryLight: #d586fe;
@primary90Percent: rgba(110, 29, 156, 0.9);

/* GRAY SCALE */
@colorWhite: #FFF;
@colorOffWhite: #f7f7f7;
@colorLightGray: #e4e4e4;
@colorMediumGray: #838383;

/* IMAGES */
// icon-hearts@2x.png
@heartPng: '../img/icon-hearts-purple.png';
@heartJpg: '../img/icon-hearts-purple.jpg';
@heart2x: '../img/icon-hearts-purple@2x.png';
@ribbon: '../img/ribbon-purple.png';